@use "../../../sass/base.scss" as *;

.badge {
  display: inline-flex;
  padding: 5px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 2px;
  color: $white;
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  cursor: default;

  &.badge-hot {
    background-color: $red-500;
  }

  &.badge-discount {
    background-color: $yellow-400;
    color: $black;
  }

  &.badge-sale {
    background-color: $green-500;
  }

  &.badge-bestDeals {
    background-color: $blue-500;
  }

  &.badge-soldOut {
    background-color: $gray-400;
  }
}
