$secondary-700: #1B6392;
$secondary-500: #2DA5F3;
$box-shadow-1: #ffffff29;
$box-shadow-2: #00000014;
$gray-500: #77878f;
$white: #fff;
$black: #000;
$red-500:#ee5858;
$yellow-400:#efd33d;
$green-500:#2db224;
$blue-500:#2da5f3;
$gray-400:#929fa5;
$gray-100:#E4E7E9;
$box-shadow-3:#0000001f;
$gray-600:#5F6C72;
$gray-50:#F2F4F5;
$gray-900:#191C1F;
$orange-500:#FA8232;
$orange-600:#de732d;
$blue-600:#2484c2;
$yellow-500:#ebc80c;
$yellow-600:#bca00a;
$gray-300:#ADB7BC;
$gray-800:#303639;
$gray-700:#475156;
$orange-400:#fa6400;
$orange-100:#FFE7D6;
