@use "../../../sass/base.scss" as *;

.inputbox {
	display: flex;
	max-width: 578px;
	margin: 0 auto;
	padding: 14px 20px;
	align-items: center;
	gap: 8px;
	border-radius: 2px;
	background: $white;
	border: 1px solid $gray-100;

	&__label {
		display: none;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
	}

	&__field {
		all: unset;
		color: $gray-500;
		max-width: 100%;
		flex-grow: 1;

		/* Body/Small/400 */
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
	}
}
