@use "../../../sass/base.scss" as *;

.reset {
  display: inline-flex;
  padding: 32px;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid $gray-100;
  background: $white;
  box-shadow: 0px 8px 40px 0px $box-shadow-3;
  width: 424px;

  &__pwd-label {
    text-transform: capitalize;
    text-align: center;
  }

  &__password {
    margin: 24px 0;

    &__type {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      position:relative;

      .password-label{
        text-transform: capitalize;
        color:$gray-900;
        margin-bottom: 8px;
      }

      .password-input {
        display: flex;
        height: 44px;
        padding: 12px 16px;
        justify-content: center;
        border-radius: 2px;
        border: 1px solid $gray-100;
        background: $white;
        align-self: stretch;

        &:focus {
            border: 1px solid $orange-500;
        }
      }

      img {
        position:absolute;
        right:10px;
        top:40px;
        cursor:pointer;
      }
    }
  }
}
