@use '../../../sass/base.scss' as *;

.browse-history {
	display: flex;
	flex-direction: column;
	row-gap: 24px;

	.browse-history__wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		padding: 30px;
		border-radius: 4px 4px 0px 0px;
		border: 1px solid #e4e7e9;
		background: $white;

		&-text {
			display: flex;
			padding: 16px 875px 16px 24px;
			text-transform: uppercase;
			column-gap: 30px;
			border-radius: 4px 4px 0px 0px;
			border: 1px solid #e4e7e9;
			background: $white;
		}

		&-cards {
			padding: 0 10px;
		}
	}

	.no-checkout-cmp {
		display: grid;
		width: 100%;
		place-items: center;
		height: 30vh;
		text-transform: capitalize;
		color: #77878F;
		text-align: center;
    }
}
