@use "../../../sass/base.scss" as *;

.forget {
  display: inline-flex;
  padding: 32px;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid $gray-100;
  background: $white;
  box-shadow: 0px 8px 40px 0px $box-shadow-3;
  width: 424px;

  &__text-blk {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__label {
      text-transform: capitalize;
      margin-bottom: 12px;
    }

    &__desc {
      text-align: center;
    }
  }

  &__password {
    margin: 24px 0;

    &__type {
      display: flex;
      flex-direction: column;
      position: relative;
    }
  }

  &__mobile-label {
    text-transform: capitalize;
    color: $gray-900;
    margin-bottom: 8px;
  }

  &__password-input {
    display: flex;
    height: 44px;
    padding: 12px 16px;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid $gray-100;
    background: $white;
    align-self: stretch;

    &:focus {
        border: 1px solid $orange-500; 
    }
  }

  &__options {
    display:flex;
    flex-direction: column;
    padding:24px 0;
    border-bottom: 1px solid $gray-100;
    gap:8px;

    &__sign-option {
        margin-left: 6px;
        color:$blue-500;
    }
  }

  &__contact {
    margin-top:24px;

    &__support {
        color:$orange-500;
        cursor:pointer;
    }
  }
}
